<div class="buttons panel">
  <ul class="menu_items">
    <%= render('pageflow/outline_navigation_bar/widget/home_button', home_button: entry.home_button) %>

    <li class="top menu_item">
      <%= link_to("##{entry.pages.first.try(:perma_id)}", tabindex: '2', title: t('.first_page_title')) do %>
        <span class="button"></span>
        <span class="label"><%= t('.first_page') %></span>
      <% end %>
    </li>

    <% if !entry.respond_to?(:storylines) || entry.storylines.one? %>
      <li class="toggle_overview menu_item">
        <a tabindex="2" class="navigation_index" title="<%= t('.display_overview') %>" data-active-title="<%= t('.hide_overview') %>">
          <span class="button"></span>
          <span class="label"><%= t('.overview') %></span>
        </a>
      </li>
    <% end %>

    <li class="fullscreen menu_item">
      <a tabindex="2" title="<%= t('.enter_fullscreen') %>" data-active-title="<%= t('.leave_fullscreen') %>">
        <span class="button"></span>
        <span class="label"><%= t('.fullscreen') %></span>
      </a>
    </li>
    <li class="hide_text menu_item">
      <a tabindex="2" title="<%= t('.hide_text') %>" data-active-title="<%= t('.show_text') %>">
        <span class="button"></span>
        <span class="label"><%= t('.hide_text') %></span>
      </a>
    </li>

    <li class="volume menu_item">
      <div class="navigation_volume_box" title="<%= t('.volume') %>">
        <div class="volume-control">
          <div class="volume-slider">
            <div class="volume-level" style="width: 100%;"><span class="volume-control-text"></span></div>
            <div class="volume-handle" style="left: 100%;"></div>
          </div>
        </div>
      </div>
    </li>

    <li class="share menu_item" tabindex="2">
      <div class="menu_box share_box navigation_share_box">
        <div class="menu_item share_facebook">
          <%= render('pageflow/entries/share_menu/facebook_link', entry: entry) %>
        </div>
        <div class="menu_item share_twitter">
        <%= render('pageflow/entries/share_menu/twitter_link', entry: entry) %>
        </div>
        <div class="menu_item share_google">
        <%= render('pageflow/entries/share_menu/google_link', entry: entry) %>
        </div>

        <div class="sub_share">
          <a tabindex="2" target="_blank"><%= t('pageflow.widgets.share_menu.entry') %></a>
          <a tabindex="2" target="_blank"><%= t('pageflow.widgets.share_menu.current_page') %></a>
        </div>
      </div>
      <a title="<%= t('.share') %>">
        <span class="navigation_bg navigation_share button"></span>
        <span class="label"><%= t('.share') %></span>
      </a>
    </li>

    <li class="credits menu_item" tabindex="2">
      <div class="menu_box credits_box">
        <%= render 'pageflow/entries/navigation/credits_box_content', :entry => entry %>
      </div>
      <a title="<%= t('.imprint') %>">
        <span class="button"></span>
        <span class="label"><%= t('.imprint') %></span>
      </a>
    </li>
  </ul>
</div>
