<div class="mobile_sharing panel mobile_panel">
  <div class="wrapper">
    <ul>
      <li>
        <%= render 'pageflow/entries/share_menu/facebook_link', entry: entry %>
      </li>
      <li>
        <%= render 'pageflow/entries/share_menu/twitter_link', entry: entry %>
      </li>
      <li>
        <%= render 'pageflow/entries/share_menu/google_link', entry: entry %>
      </li>
    </ul>
  </div>
  <div class="sub_share">
    <a target="_blank"><%= I18n.t('pageflow.public.share_this_entry') %></a>
    <a target="_blank"><%= I18n.t('pageflow.public.share_this_page') %></a>
  </div>
</div>
<div class="mobile_credits panel mobile_panel">
  <div class="wrapper">
    <ul>
      <li class="credits">
        <%= render 'pageflow/entries/navigation/credits_box_content', :entry => entry %>
      </li>
    </ul>
  </div>
</div>
