<div class="toggle desktop_only buttons menu_item">
  <a tabindex="2"
     title="<%= t('.display_menu') %>"
     data-active-title="<%= t('.hide_menu') %>"
     data-panel="buttons"
     data-toggle="chapters_panel">

    <span class="button"></span>
    <span class="hint"><%= t('.toggle') %></span>
  </a>
</div>

<div class="toggle mobile_only chapters menu_item">
  <a tabindex="2" data-panel="chapters_panel" data-toggle="expandable">
    <span class="button"></span>
    <span class="hint"><%= t('.toggle') %></span>
  </a>
</div>
<div class="toggle mobile_only share menu_item">
  <a tabindex="2" data-panel="mobile_sharing">
    <span class="button"></span>
    <span class="hint"><%= t('.toggle') %></span>
  </a>
</div>
<div class="toggle mobile_only credits menu_item">
  <a tabindex="2" data-panel="mobile_credits">
    <span class="button"></span>
    <span class="hint"><%= t('.toggle') %></span>
  </a>
</div>

<div class="parent_page mobile_only" title="<%= t('pageflow.public.back') %>"></div>
